[pandas中文网](https://www.pypandas.cn/)  
[pandas文档](https://pandas.pydata.org/docs/)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#索引与数据选择" data-toc-modified-id="索引与数据选择-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>索引与数据选择</a></span></li><li><span><a href="#数据合并" data-toc-modified-id="数据合并-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>数据合并</a></span></li><li><span><a href="#数据透视表和多重索引" data-toc-modified-id="数据透视表和多重索引-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>数据透视表和多重索引</a></span></li><li><span><a href="#样式" data-toc-modified-id="样式-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>样式</a></span></li></ul></div>

In [1]:
import pandas as pd
pd.__version__

'0.25.3'

速查表

![pandas_cheat_sheet](https://storage.googleapis.com/molten/lava/2018/09/f0c721d9-pandas-cheat-sheet-dataquest.jpg)

In [2]:
# 数据来源：https://www.kaggle.com/jessemostipak/hotel-booking-demand
data = pd.read_csv(r'datasets\hotel_bookings.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

#### 索引与数据选择

In [3]:
# DataFrame可以通过传入列名称直接选取数据，这是基本索引
data[['adr','customer_type']].head()

    adr customer_type
0   0.0     Transient
1   0.0     Transient
2  75.0     Transient
3  75.0     Transient
4  98.0     Transient

In [4]:
# 也可以通过属性直接访问列
data.lead_time

0         342
1         737
2           7
3          13
4          14
         ...
119385     23
119386    102
119387     34
119388    109
119389    205
Name: lead_time, Length: 119390, dtype: int64

In [5]:
# loc是基于名称的索引，先行后列地指定行和列的索引名称
data.loc[5:120:2]   # 传入行索引，列默认全选

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,2015-07-05
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,2015-07-07
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,2015-07-08
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,2015-05-11
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,87.30,1,1,Check-Out,2015-07-08
31,Resort Hotel,0,95,2015,July,27,1,4,11,2,...,No Deposit,241.0,NaN,0,Transient,63.86,0,0,Check-Out,2015-07-16
33,Resort Hotel,0,69,2015,July,27,2,2,4,2,...,No Deposit,175.0,NaN,0,Transient,65.50,0,0,Check-Out,2015-07-08
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Canceled,2015-06-19
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Check-Out,2015-07-06
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
41,Resort Hotel,0,45,2015,July,27,2,2,3,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,2015-07-07
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,...,No Deposit,240.0,NaN,0,Transient,153.00,0,0,Canceled,2015-06-02
47,Resort Hotel,0,113,2015,July,27,2,2,5,2,...,No Deposit,156.0,NaN,0,Transient-Party,82.88,0,2,Check-Out,2015-07-09
49,Resort Hotel,0,50,2015,July,27,2,2,5,2,...,No Deposit,241.0,NaN,0,Transient,119.35,0,1,Check-Out,2015-07-09
51,Resort Hotel,0,93,2015,July,27,2,3,8,2,...,No Deposit,156.0,NaN,0,Contract,56.01,0,0,Check-Out,2015-07-13
53,Resort Hotel,0,3,2015,July,27,2,0,1,2,...,No Deposit,240.0,NaN,0,Transient,88.20,1,0,Check-Out,2015-07-03
55,Resort Hotel,0,1,2015,July,27,2,0,1,2,...,No Deposit,NaN,NaN,0,Transient,107.00,1,2,Check-Out,2015-07-03
57,Resort Hotel,0,0,2015,July,27,2,0,1,2,...,No Deposit,240.0,NaN,0,Transient,117.90,0,2,Check-Out,2015-07-03
59,Resort Hotel,0,14,2015,July,27,2,0,2,2,...,No Deposit,242.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-04
61,Resort Hotel,0,5,2015,July,27,2,0,2,2,...,No Deposit,240.0,NaN,0,Transient,135.00,1,2,Check-Out,2015-07-04
63,Resort Hotel,0,93,2015,July,27,2,0,3,2,...,No Deposit,115.0,NaN,0,Contract,58.95,0,0,Check-Out,2015-07-05
65,Resort Hotel,0,10,2015,July,27,3,0,2,2,...,No Deposit,240.0,NaN,0,Transient,153.00,1,0,Check-Out,2015-07-05
67,Resort Hotel,0,51,2015,July,27,3,0,2,2,...,No Deposit,242.0,NaN,0,Transient,97.00,0,0,Check-Out,2015-07-05
69,Resort Hotel,1,63,2015,July,27,3,0,2,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,2,Canceled,2015-06-18
71,Resort Hotel,1,101,2015,July,27,3,0,2,2,...,No Deposit,240.0,NaN,0,Transient,73.80,0,1,Canceled,2015-06-12
73,Resort Hotel,0,15,2015,July,27,3,0,2,2,...,No Deposit,240.0,NaN,0,Transient,114.50,0,0,Check-Out,2015-07-05
75,Resort Hotel,0,3,2015,July,27,3,1,2,2,...,No Deposit,240.0,NaN,0,Transient,90.90,1,0,Check-Out,2015-07-06
77,Resort Hotel,0,2,2015,July,27,3,2,2,1,...,No Deposit,240.0,NaN,0,Transient,122.00,0,0,Check-Out,2015-07-07
79,Resort Hotel,0,81,2015,July,27,3,2,6,3,...,No Deposit,5.0,NaN,0,Transient,85.86,0,0,Check-Out,2015-07-11
81,Resort Hotel,1,368,2015,July,27,3,3,7,2,...,No Deposit,40.0,NaN,0,Contract,55.68,0,0,Canceled,2015-05-19
83,Resort Hotel,1,81,2015,July,27,3,3,7,2,...,No Deposit,250.0,NaN,0,Transient,124.00,0,1,Canceled,2015-06-09
85,Resort Hotel,0,324,2015,July,27,3,4,10,2,...,No Deposit,40.0,NaN,0,Contract,134.73,0,0,Check-Out,2015-07-17
87,Resort Hotel,1,79,2015,July,27,3,6,15,2,...,No Deposit,242.0,NaN,0,Transient,108.73,0,2,Canceled,2015-04-15
89,Resort Hotel,0,9,2015,July,27,3,0,1,2,...,No Deposit,240.0,NaN,0,Transient,98.00,1,2,Check-Out,2015-07-04
91,Resort Hotel,0,21,2015,July,27,3,0,1,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Check-Out,2015-07-04
93,Resort Hotel,0,109,2015,July,27,3,0,1,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,2,Check-Out,2015-07-04
95,Resort Hotel,1,72,2015,July,27,3,0,2,2,...,No Deposit,240.0,NaN,0,Transient,73.80,0,1,Canceled,2015-06-29
97,Resort Hotel,0,63,2015,July,27,3,2,5,3,...,No Deposit,105.0,NaN,0,Transient,196.54,0,1,Check-Out,2015-07-10
99,Resort Hotel,0,102,2015,July,27,3,2,5,2,...,No Deposit,250.0,NaN,0,Transient,90.95,0,0,Check-Out,2015-07-10
101,Resort Hotel,0,98,2015,July,27,4,2,1,2,...,No Deposit,8.0,NaN,0,Transient,71.55,1,0,Check-Out,2015-07-07
103,Resort Hotel,0,95,2015,July,27,4,2,4,2,...,No Deposit,240.0,NaN,0,Transient,85.80,1,2,Check-Out,2015-07-10
105,Resort Hotel,1,26,2015,July,27,4,2,5,2,...,No Deposit,240.0,NaN,0,Transient,163.00,0,0,Canceled,2015-06-09
107,Resort Hotel,1,102,2015,July,27,4,2,5,2,...,No Deposit,240.0,NaN,0,Transient,110.70,0,1,Canceled,2015-04-22
109,Resort Hotel,0,102,2015,July,27,4,2,5,2,...,No Deposit,240.0,NaN,0,Transient,73.80,0,2,Check-Out,2015-07-11
111,Resort Hotel,0,78,2015,July,27,4,2,5,2,...,No Deposit,240.0,NaN,0,Transient,139.00,0,2,Check-Out,2015-07-11
113,Resort Hotel,0,29,2015,July,27,4,2,6,3,...,No Deposit,241.0,NaN,0,Transient,116.50,0,1,Check-Out,2015-07-12
115,Resort Hotel,0,109,2015,July,27,4,2,6,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,1,Check-Out,2015-07-12
117,Resort Hotel,0,92,2015,July,27,4,4,6,2,...,No Deposit,40.0,NaN,0,Contract,71.55,0,1,Check-Out,2015-07-14
119,Resort Hotel,0,2,2015,July,27,4,0,1,2,...,No Deposit,240.0,NaN,0,Transient,163.00,1,0,Check-Out,2015-07-05

In [6]:
# loc的另一种用法
data.loc[5:10, ['agent', 'company']]

    agent  company
5   240.0      NaN
6     NaN      NaN
7   303.0      NaN
8   240.0      NaN
9    15.0      NaN
10  240.0      NaN

In [7]:
data.loc[5:10, 'hotel': 'company']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,Direct,0,0,0,C,C,0,No Deposit,NaN,NaN
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,Direct,0,0,0,C,C,0,No Deposit,303.0,NaN
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,TA/TO,0,0,0,D,D,0,No Deposit,15.0,NaN
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,TA/TO,0,0,0,E,E,0,No Deposit,240.0,NaN

In [8]:
# iloc是基于位置的索引,先行后列地指定行和列的位置 
data.iloc[:,3:5].head()

   arrival_date_year arrival_date_month
0               2015               July
1               2015               July
2               2015               July
3               2015               July
4               2015               July

In [9]:
# 可以单取一行数据
data.iloc[2]

hotel                             Resort Hotel
is_canceled                                  0
lead_time                                    7
arrival_date_year                         2015
arrival_date_month                        July
arrival_date_week_number                    27
arrival_date_day_of_month                    1
stays_in_weekend_nights                      0
stays_in_week_nights                         1
adults                                       1
children                                     0
babies                                       0
meal                                        BB
country                                    GBR
market_segment                          Direct
distribution_channel                    Direct
is_repeated_guest                            0
previous_cancellations                       0
previous_bookings_not_canceled               0
reserved_room_type                           A
assigned_room_type                           C
booking_changes                              0
deposit_type                        No Deposit
agent                                      NaN
company                                    NaN
days_in_waiting_list                         0
customer_type                        Transient
adr                                         75
required_car_parking_spaces                  0
total_of_special_requests                    0
reservation_status                   Check-Out
reservation_status_date             2015-07-02
Name: 2, dtype: object

In [10]:
data.iloc[2:100, :].head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03

In [11]:
# []、.loc、.iloc 可以接收一个“索引器”
data[data['adr'] > data['adr'].mean()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,No Deposit,7.0,NaN,0,Transient,209.00,0,0,Check-Out,2017-09-05
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [12]:
data.loc[lambda data : data.adr > 70, :]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [13]:
# 重建索引
data_reindex = data.copy()
data_reindex.reindex([i for i in range(1, len(data_reindex) + 1)])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,No Deposit,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0.0,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,No Deposit,NaN,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,No Deposit,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,No Deposit,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03
5,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,...,No Deposit,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119386,City Hotel,0.0,102.0,2017.0,August,35.0,31.0,2.0,5.0,3.0,...,No Deposit,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,No Deposit,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,No Deposit,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,...,No Deposit,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07
119390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# 随机采样
data.sample(n=5, random_state=101)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
54215,City Hotel,1,74,2016,July,28,9,0,1,2,...,No Deposit,9.0,NaN,0,Transient,127.8,0,0,Canceled,2016-04-28
42638,City Hotel,0,22,2015,September,37,8,0,1,2,...,No Deposit,8.0,NaN,0,Transient,120.0,0,1,Check-Out,2015-09-09
8295,Resort Hotel,1,197,2016,September,39,21,2,5,2,...,Non Refund,253.0,NaN,0,Transient,66.6,0,0,Canceled,2016-03-31
82129,City Hotel,1,99,2016,February,8,19,0,1,2,...,No Deposit,NaN,67.0,0,Transient-Party,80.0,0,0,Canceled,2015-12-22
8493,Resort Hotel,1,157,2016,October,40,1,2,2,2,...,Non Refund,96.0,NaN,0,Transient,52.0,0,0,Canceled,2016-05-09

In [15]:
# 创建一列新数据
data.loc[:, 'tags'] = data['adults'] + data['children']
data.loc[:, 'tags']

0         2.0
1         2.0
2         1.0
3         1.0
4         2.0
         ...
119385    2.0
119386    3.0
119387    2.0
119388    2.0
119389    2.0
Name: tags, Length: 119390, dtype: float64

In [16]:
# .at 和 .iat 可以迅速找到数据
data.at[5,'adults']

2

In [17]:
# 布尔索引
data[(data['adults'] > 2) | (data['children'] >4)]  # 条件之间的括号是必须的（0.25），否则这里断句会出现问题导致报错

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,tags
34,Resort Hotel,1,45,2015,July,27,2,1,3,3,...,241.0,NaN,0,Transient,108.80,0,1,Canceled,2015-05-19,3.0
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,...,241.0,NaN,0,Transient,108.80,0,1,Canceled,2015-06-19,3.0
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,...,241.0,NaN,0,Transient,108.80,0,1,Check-Out,2015-07-06,3.0
38,Resort Hotel,1,43,2015,July,27,2,1,3,3,...,241.0,NaN,0,Transient,108.80,0,0,Canceled,2015-05-23,3.0
68,Resort Hotel,1,71,2015,July,27,3,0,2,3,...,242.0,NaN,0,Transient,110.30,0,2,Canceled,2015-06-16,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119353,City Hotel,0,63,2017,August,35,31,0,3,3,...,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,3.0
119354,City Hotel,0,63,2017,August,35,31,0,3,3,...,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,3.0
119376,City Hotel,0,165,2017,August,35,29,1,5,3,...,9.0,NaN,0,Transient,209.25,0,3,Check-Out,2017-09-04,3.0
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,7.0,NaN,0,Transient,209.00,0,0,Check-Out,2017-09-05,3.0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,3.0

In [18]:
data[(data['adults'] > 1) & (data['children'] >3)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,tags
328,Resort Hotel,1,55,2015,July,29,12,4,10,2,...,8.0,NaN,0,Contract,133.16,0,1,No-Show,2015-07-12,12.0

In [19]:
data[~(data['children'] > 2)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,tags
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,1.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,1.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,2.0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,3.0
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,2.0
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,2.0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,2.0

In [20]:
# .isin() 索引
data[data['distribution_channel'].isin(['Direct', 'Corporate'])]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,tags
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,1.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,1.0
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119358,City Hotel,0,135,2017,August,35,30,1,4,2,...,14.0,NaN,0,Transient,143.10,0,1,Check-Out,2017-09-04,2.0
119365,City Hotel,0,54,2017,August,35,27,3,5,1,...,14.0,NaN,0,Transient,266.75,0,1,Check-Out,2017-09-04,1.0
119368,City Hotel,0,261,2017,August,35,30,1,4,2,...,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2017-09-04,2.0
119369,City Hotel,0,207,2017,August,34,25,3,7,2,...,14.0,NaN,0,Transient,96.25,0,2,Check-Out,2017-09-04,2.0
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2017-09-05,2.0

In [21]:
# where()
data['adults'].where(data['adults'] >= 2)

0         2.0
1         2.0
2         NaN
3         NaN
4         2.0
         ...
119385    2.0
119386    3.0
119387    2.0
119388    2.0
119389    2.0
Name: adults, Length: 119390, dtype: float64

In [22]:
# mask
data['adults'].mask(data['adults'] >= 2)

0         NaN
1         NaN
2         1.0
3         1.0
4         NaN
         ...
119385    NaN
119386    NaN
119387    NaN
119388    NaN
119389    NaN
Name: adults, Length: 119390, dtype: float64

In [23]:
# 利用 where() 和 mask() 对数据进行处理
data_where  = data.copy()
data_where['adults'] = data_where['adults'].where(data['adults'] >= 2, 2)
data_where['adults']

0         2
1         2
2         2
3         2
4         2
         ..
119385    2
119386    3
119387    2
119388    2
119389    2
Name: adults, Length: 119390, dtype: int64

In [24]:
data_mask  = data.copy()
data_mask['adults'] = data_mask['adults'].mask(data['adults'] >= 2, 2)
data_mask['adults']

0         2
1         2
2         1
3         1
4         2
         ..
119385    2
119386    2
119387    2
119388    2
119389    2
Name: adults, Length: 119390, dtype: int64

In [25]:
# query() 方法
data.query('adults >=2 and children == 2')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,tags
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,...,240.0,NaN,0,Transient,153.00,0,0,Canceled,2015-06-02,4.0
55,Resort Hotel,0,1,2015,July,27,2,0,1,2,...,NaN,NaN,0,Transient,107.00,1,2,Check-Out,2015-07-03,4.0
65,Resort Hotel,0,10,2015,July,27,3,0,2,2,...,240.0,NaN,0,Transient,153.00,1,0,Check-Out,2015-07-05,4.0
105,Resort Hotel,1,26,2015,July,27,4,2,5,2,...,240.0,NaN,0,Transient,163.00,0,0,Canceled,2015-06-09,4.0
119,Resort Hotel,0,2,2015,July,27,4,0,1,2,...,240.0,NaN,0,Transient,163.00,1,0,Check-Out,2015-07-05,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119247,City Hotel,0,140,2017,August,35,27,2,3,2,...,9.0,NaN,0,Transient,235.00,0,0,Check-Out,2017-09-01,4.0
119251,City Hotel,0,140,2017,August,35,27,2,3,2,...,9.0,NaN,0,Transient,235.00,0,0,Check-Out,2017-09-01,4.0
119254,City Hotel,0,9,2017,August,35,28,1,3,2,...,14.0,NaN,0,Transient,210.00,0,0,Check-Out,2017-09-01,4.0
119293,City Hotel,0,243,2017,August,35,30,0,3,2,...,9.0,NaN,0,Transient,189.00,0,3,Check-Out,2017-09-02,4.0
119319,City Hotel,0,45,2017,August,35,28,1,5,2,...,7.0,NaN,0,Transient,194.13,0,1,Check-Out,2017-09-03,4.0

In [26]:
data.query('adults <= children')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,tags
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,...,240.0,NaN,0,Transient,153.00,0,0,Canceled,2015-06-02,4.0
55,Resort Hotel,0,1,2015,July,27,2,0,1,2,...,NaN,NaN,0,Transient,107.00,1,2,Check-Out,2015-07-03,4.0
65,Resort Hotel,0,10,2015,July,27,3,0,2,2,...,240.0,NaN,0,Transient,153.00,1,0,Check-Out,2015-07-05,4.0
102,Resort Hotel,0,92,2015,July,27,4,2,4,1,...,241.0,NaN,0,Transient,96.49,0,2,Check-Out,2015-07-10,3.0
105,Resort Hotel,1,26,2015,July,27,4,2,5,2,...,240.0,NaN,0,Transient,163.00,0,0,Canceled,2015-06-09,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119247,City Hotel,0,140,2017,August,35,27,2,3,2,...,9.0,NaN,0,Transient,235.00,0,0,Check-Out,2017-09-01,4.0
119251,City Hotel,0,140,2017,August,35,27,2,3,2,...,9.0,NaN,0,Transient,235.00,0,0,Check-Out,2017-09-01,4.0
119254,City Hotel,0,9,2017,August,35,28,1,3,2,...,14.0,NaN,0,Transient,210.00,0,0,Check-Out,2017-09-01,4.0
119293,City Hotel,0,243,2017,August,35,30,0,3,2,...,9.0,NaN,0,Transient,189.00,0,3,Check-Out,2017-09-02,4.0
119319,City Hotel,0,45,2017,August,35,28,1,5,2,...,7.0,NaN,0,Transient,194.13,0,1,Check-Out,2017-09-03,4.0

In [27]:
data.query('["Direct", "Corporate"] not in distribution_channel')  # 等同于 ' distribution_channel == ["Direct", "Corporate"]'

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,tags
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,2.0
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,2.0
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,240.0,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06,2.0
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22,2.0
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,2.0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,3.0
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,2.0
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,2.0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,2.0

####  数据合并

In [28]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B0', 'B1', 'B2', 'B3'], 
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[8, 9, 10, 11])

frames = [df1, df2, df3]
result = pd.concat(frames)
result

      A    B    C   D
0    A0   B0   C0  D0
1    A1   B1   C1  D1
2    A2   B2   C2  D2
3    A3   B3   C3  D3
0    A4   B0   C0  D0
1    A5   B1   C1  D1
2    A6   B2   C2  D2
3    A7   B3   C3  D3
8    A8   B8   C8  D4
9    A9   B9   C9  D5
10  A10  B10  C10  D6
11  A11  B11  C11  D7

In [29]:
# 在 axis=1 横向拼接时，concat 会按照索引进行，这里ignore_index 的含义为是否保留原来的列名称作为索引
result2 = pd.concat(frames, axis=1, ignore_index=True)
result2

      0    1    2    3    4    5    6    7    8    9   10   11
0    A0   B0   C0   D0   A4   B0   C0   D0  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1   A5   B1   C1   D1  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2   A6   B2   C2   D2  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3   A7   B3   C3   D3  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D4
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D5
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10   D6
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11   D7

In [30]:
# 可以通过 key 来指定拼接的 DataFrame 的名称
result3 = pd.concat(frames, keys=['x', 'y', 'z'])
result3

        A    B    C   D
x 0    A0   B0   C0  D0
  1    A1   B1   C1  D1
  2    A2   B2   C2  D2
  3    A3   B3   C3  D3
y 0    A4   B0   C0  D0
  1    A5   B1   C1  D1
  2    A6   B2   C2  D2
  3    A7   B3   C3  D3
z 8    A8   B8   C8  D4
  9    A9   B9   C9  D5
  10  A10  B10  C10  D6
  11  A11  B11  C11  D7

In [31]:
result3.loc['y']

    A   B   C   D
0  A4  B0  C0  D0
1  A5  B1  C1  D1
2  A6  B2  C2  D2
3  A7  B3  C3  D3

In [32]:
# 另一个参数 join 用来指定连接的行为，这里注意 df4 的 index

df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])
result4 = pd.concat([df1, df4], axis=1, sort=True)
result4

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [33]:
result5 = pd.concat([df1, df4], axis=1, join='inner', sort=False)
result5

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [34]:
result6 = pd.concat([df1, df4.reindex(df1.index)], axis=1)
result6

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

In [35]:
# append 默认根据列进行拼接，这样可以将相同类名称（column name）进行数据对齐
result = df1.append(df2)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B0  C0  D0
1  A5  B1  C1  D1
2  A6  B2  C2  D2
3  A7  B3  C3  D3

In [36]:
# 注意没有指定 sort 参数时的提示信息（0.25 版本）
result2 = pd.concat([df1, df4], ignore_index=True)
result2

c:\users\mayn\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [37]:
result3 = df1.append(df4, sort=False)
result3

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [38]:
# merge 相当于 SQL 中的连表，需要用参数 on 指定关联的 key ，如果有多个需要传入一个列表
# on 参数有 left、right、inner、outer
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

result = pd.merge(left, right, on=['key1', 'key2'])
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [39]:
# 注意 validate 参数的作用，，默认为 None，可以选择 one_to_one、one_to_many、many_to_one、many_to_many
left = pd.DataFrame({'A' : [1,2], 'B' : [1, 2]})
right = pd.DataFrame({'A' : [4,5,6], 'B': [2, 2, 2]})

pd.merge(left, right, on='B', how='outer', validate="one_to_many")

   A_x  B  A_y
0    1  1  NaN
1    2  2  4.0
2    2  2  5.0
3    2  2  6.0

In [40]:
# 可以使用 indicator=True 来显示 _merge 参数
df1 = pd.DataFrame({'col1': [0, 1], 'col_left': ['a', 'b']})
df2 = pd.DataFrame({'col1': [1, 2, 2], 'col_right': [2, 2, 2]})

pd.merge(df1, df2, on='col1', how='outer', indicator=True)

   col1 col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b        2.0        both
2     2      NaN        2.0  right_only
3     2      NaN        2.0  right_only

In [41]:
# join 是 DataFrame 的方法
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])

result = left.join(right)
result

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [42]:
result2 = left.join(right, how='outer')
result2

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [43]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})

index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                   ('K2', 'K0'), ('K2', 'K1')])

right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']},
                     index=index)

result4 = left.join(right, on=['key1', 'key2'])

result4

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A3  B3   K2   K1   C3   D3

####  数据透视表和多重索引

`DataFrame.pivot`和`DataFrame.pivot_table` 提供了类似 Excel 的数据透视表的功能，相比目前的 Excel，这里的 pivot_table 更加灵活（例如有`aggfunc`这样的参数）。

In [44]:
# pivot 的主要功能是对 df 进行重新的整理，只有3个参数index、columns 和 values
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [45]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

![pd.pivot](https://www.pypandas.cn/static/images/reshaping_pivot.png)

In [46]:
data = pd.read_excel(r'datasets\pivot_sample.xlsx')
data

         date label   value  adcut
0  2020-02-29     A  0.8782     12
1  2020-03-01     B  0.1823     14
2  2020-03-02     A  0.2872     10
3  2020-03-03     C -0.1211     11
4  2020-03-04     B -0.1865      9
5  2020-03-05     B  0.2981      8
6  2020-03-06     A -0.6519     12
7  2020-03-07     A  0.1987     15
8  2020-03-08     B  0.5619     12
9  2020-03-09     A  0.6661      7
10 2020-03-10     B -0.2616     15
11 2020-03-11     C -0.2912     16
12 2020-03-12     A  0.2921      9
13 2020-03-13     C  0.7612     12
14 2020-03-14     B -0.6691      7
15 2020-03-15     A  0.2129      9
16 2020-03-16     A  0.7811     12
17 2020-03-17     C  0.7810     11
18 2020-03-18     C -0.7612     10
19 2020-03-19     B  0.1827      9

In [47]:
data_pivot = data.pivot(index='date', columns='label', values='value').fillna(0)
data_pivot

label            A       B       C
date
2020-02-29  0.8782  0.0000  0.0000
2020-03-01  0.0000  0.1823  0.0000
2020-03-02  0.2872  0.0000  0.0000
2020-03-03  0.0000  0.0000 -0.1211
2020-03-04  0.0000 -0.1865  0.0000
2020-03-05  0.0000  0.2981  0.0000
2020-03-06 -0.6519  0.0000  0.0000
2020-03-07  0.1987  0.0000  0.0000
2020-03-08  0.0000  0.5619  0.0000
2020-03-09  0.6661  0.0000  0.0000
2020-03-10  0.0000 -0.2616  0.0000
2020-03-11  0.0000  0.0000 -0.2912
2020-03-12  0.2921  0.0000  0.0000
2020-03-13  0.0000  0.0000  0.7612
2020-03-14  0.0000 -0.6691  0.0000
2020-03-15  0.2129  0.0000  0.0000
2020-03-16  0.7811  0.0000  0.0000
2020-03-17  0.0000  0.0000  0.7810
2020-03-18  0.0000  0.0000 -0.7612
2020-03-19  0.0000  0.1827  0.0000

In [48]:
# pivot_table 可以对统计量进行整理

####  样式

In [49]:
data = pd.read_excel(r'datasets\style_sample.xlsx')
data

     a       b     c   d         e          f    g
0   12  0.6754  1290 -12  0.343332  12.098743  1.3
1   21  0.6532  2002   9 -0.111300        NaN -0.8
2   22  0.5460  1908  -7  0.101024   9.982630  1.4
3   18  0.7170  2897 -10 -0.003120   8.923243  1.0
4   10  0.7672  1879  10 -0.120000   8.120940 -0.9
5    9  0.6900  1953   7  0.098213        NaN -1.7
6    3  0.5912  1929   5 -0.113481   9.232454  1.4
7    6  0.6711  1859  -9 -0.231119  10.293755  2.0
8   19  0.8701  1590   9  0.200030  12.111123  1.1
9   17  0.7772  1398  10  0.176723  10.232324 -1.7
10  31  0.3452  1919  11 -0.234213   9.232209 -2.0
11  15  0.8181  1901  20 -0.003323        NaN  0.8
12   8  0.5159  1956  -2  0.232340  11.278321  0.5
13  20  0.6632  1958   0 -0.001298   8.908983 -0.4
14  24  0.7108  1601   2 -0.002321        NaN  0.8

pandas.style 的 api ：https://pandas.pydata.org/pandas-docs/stable/reference/style.html

pandas的样式调整常用的有两种情况：
* `Styler.applymap` 用于调整元素的样式
* `Styler.apply` 用于调整表格、行列的样式

In [50]:
# 定义一个让负数突出显示为红色的函数
def color_neg_red(x):
    color = 'red' if x < 0 else 'black'
    return 'color:{color_name}'.format(color_name=color)

a = data.style.applymap(color_neg_red)
a

In [51]:
# 将每一类的最大值突出显示
def hilight_max(x):
    is_max = x == x.max()
    return ['background-color: yellow' if v else '' for v in is_max]

b = data.style.apply(hilight_max)
b

In [52]:
# 重叠两种样式

data.style.applymap(color_neg_red).apply(hilight_max)

In [53]:
# 对指定的列使用样式

data.style.apply(hilight_max, subset=['c', 'e'])

In [54]:
# 对指定的区域使用样式

data.style.applymap(color_neg_red, 
                   subset = pd.IndexSlice[:, ['d', 'e', 'g']])

In [55]:
# 可以使用 dataframe.style.format 进行格式化处理

data.style.applymap(color_neg_red, subset = 
                    pd.IndexSlice[:, ['d', 'e', 'g']]).format({'b':'{:.2%}', 'e':'{:.2%}', 'f':'{:.2f}'})

In [56]:
# 对空值和最值。style中有内置函数进行处理
data.style.highlight_null(null_color='blue')

In [57]:
data.style.highlight_max(axis=0)

In [58]:
# 使用 seaborn 进行可视化

import seaborn as sns

cm = sns.light_palette("green", as_cmap=True)

s = data.style.background_gradient(cmap=cm)
s

c:\users\mayn\appdata\local\programs\python\python37\lib\site-packages\matplotlib\colors.py:527: RuntimeWarning: invalid value encountered in less
  xa[xa < 0] = -1

In [59]:
# 使用柱状图

data.style.bar(subset=['g'], color='#b65f5f', align='mid')

In [60]:
data.style.bar(subset=['g'], color=['#b65f5f','#5fba7d'], align='mid')

In [61]:
# 通过样式设置也可以隐藏索引或者一些列
data.style.hide_index()

In [62]:
data.style.hide_columns(['f'])

In [63]:
# 最后，将处理好的表格导出
data.style.applymap(color_neg_red, subset = 
                    pd.IndexSlice[:, ['d', 'e', 'g']]).\
                    format({'b':'{:.2%}', 'e':'{:.2%}', 'f':'{:.2f}'}).highlight_max(axis=0).to_excel('styled.xlsx', engine='openpyxl')

In [64]:
# 这样看如果需要实现百分数的格式化导出，目前最可靠的办法是通过 apply 先进行格式化

data['b'] = data['b'].apply(lambda x:format(x, '.2%'))
data

     a       b     c   d         e          f    g
0   12  67.54%  1290 -12  0.343332  12.098743  1.3
1   21  65.32%  2002   9 -0.111300        NaN -0.8
2   22  54.60%  1908  -7  0.101024   9.982630  1.4
3   18  71.70%  2897 -10 -0.003120   8.923243  1.0
4   10  76.72%  1879  10 -0.120000   8.120940 -0.9
5    9  69.00%  1953   7  0.098213        NaN -1.7
6    3  59.12%  1929   5 -0.113481   9.232454  1.4
7    6  67.11%  1859  -9 -0.231119  10.293755  2.0
8   19  87.01%  1590   9  0.200030  12.111123  1.1
9   17  77.72%  1398  10  0.176723  10.232324 -1.7
10  31  34.52%  1919  11 -0.234213   9.232209 -2.0
11  15  81.81%  1901  20 -0.003323        NaN  0.8
12   8  51.59%  1956  -2  0.232340  11.278321  0.5
13  20  66.32%  1958   0 -0.001298   8.908983 -0.4
14  24  71.08%  1601   2 -0.002321        NaN  0.8